.width1
{
    text-align: center;font-size: 12px;
}
.text_center
{
    text-align: center;
}
.no_hover
{
    background: #f5f5f5
}
.date_time
{
    margin-left: 20%;
}
.table
{
    font-size: 13px;
    color: black;
}
.th
{
    font-size: 12px;
}
.time
{
    margin-right: 80px;
}
.monthName
{
    width: 150px;
    border-radius: 5px;
}
.empName
{
    width: 210px;
    border-radius: 5px;
}
.border-left
{
    border-left:1px solid #006699 !important;
}
.border-right
{
    border-right:1px solid #006699 !important;
}
.tc
{
    display:none
}
.details
{
    /*text-align: left;*/
    float:right;
}
.rh
{
    font-size: 15px;
}
.tb_rh
{
    width: 550px;
    margin-top: 8px;
}
.half_month
{
    border-radius: 5px;

}
.year
{
    border-radius: 5px;
}
.date_time_leave
{
    margin-left: 45%;
}
.date_time_leave_employee
{
    margin-left: 58.8%;
}
.iconedit
{
    color: #17a2b8;
    background: transparent;
    width: 73px;
    font-size: 13px;
}
.icondelete
{
    color: red;
    background: transparent;
    width: 82px;
    font-size: 13px;
}
.iconn
{
    color: black;   
}
.icon
{
    color: #007bff;
}
.fonts
{
    font-size: 14px;
    color: black;
}
/*modal css*/
.names
{
    margin-left: 15px;
}
/*.kolor*/
/*{*/
    /*color: white;*/
    /*text-decoration-color: white;*/
/*}*/
/*.kolor:active*/
/*{*/
    /*text-decoration: white;*/
/*}*/
.kolor:link, .kolor:visited {
    color: white;
    text-decoration: none;
}
.kulay
{
    color: blue;
}
.border
{
    border: solid blue;
}

.sunday, .sunday input, .sunday td {
    background-color: #FFCCCC;
}

.absent{
    font-weight: bold;
    margin-left: -190px;
    font-style: italic;
    color: red;
    letter-spacing: 20px;
/*text-align: center;*/
}


