.iconedit
{
    color: #17a2b8;
    background: transparent;
    width: 73px;
    font-size: 13px;
}
.icondelete
{
    color: red;
    background: transparent;
    width: 82px;
    font-size: 13px;
}
.iconn
{
    color: black;
}
.text_center
{
    text-align: center;
}